
<!DOCTYPE html>
<html>
<head>
  <title>Dream Analyzer</title>
  <meta name="description" content="Discover If Your Dream Could Come True">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/main.css" />
</head>
<%- include('includes/head') %>
<body>
 <%- include('includes/header', { user, notifications: notifications || [] }) %>

  <h1>Discover If Your Dream Could Come True</h1>
  <% if (result) { %>
  <h2>The Dream Analysis Result shows that your dream Probability to be real is <strong><%= result.category %>.</strong></h2>
  <p>If you want to post your dream for public interpretation press <a href="/create-post">here</a> , or if you want your dream to be interpreted privatly
please please click <a href="/inbox">here</a> </p>
<% } %> 

  <form action="/dream-realness" method="POST">

    <!-- Timing of Dream -->
    <h3>Timing of Dream</h3>
    <label><input type="radio" name="timing" value="evening" required> Evening</label><br>
    <label><input type="radio" name="timing" value="midnight"> Midnight</label><br>
    <label><input type="radio" name="timing" value="post_midnight"> Post-Midnight</label><br>
    <label><input type="radio" name="timing" value="morning"> Morning</label><br>
    <label><input type="radio" name="timing" value="day_dream"> Day Dream</label><br>

    <!-- Memory of Dream -->
    <h3>Dream Memorability</h3>
    <label><input type="radio" name="memory" value="vivid" required> Vivid Dream</label><br>
    <label><input type="radio" name="memory" value="not_memorable"> Not Memorable Dream</label><br>

    <!-- Health of Dreamer -->
    <h3>Health of Dreamer</h3>
    <label><input type="radio" name="health" value="healthy" required> Healthy Dreamer</label><br>
    <label><input type="radio" name="health" value="patient"> Patient Dreamer</label><br>

    <!-- Emotional State -->
    <h3>Emotional Staten of Dreamer</h3>
    <label><input type="radio" name="emotion" value="not_emotional" required> Not Result of Emotion</label><br>
    <label><input type="radio" name="emotion" value="emotional"> Result of Emotion</label><br>

    <br>
    <button type="submit">Check Dream Probability</button>
  </form>
</body>
    <%- include('includes/footer') %>
</html>
