<!DOCTYPE html>
<html lang="en">
<head>
   <%- include("includes/head") %>
</head>
<body>

  <!-- GALAXY BACKGROUND -->
  <div class="galaxy-bg">
    <div class="galaxy-rotate">
      <div class="stars"></div>
      <div class="stars2"></div>
      <div class="stars3"></div>
      <div class="moon"></div>
    </div>
  </div>

  <main class="wrapper" style="text-align:center; margin-top:80px;">
 <img src="/images/DreamBook.png" alt="DreamBook logo" class="home-logo" />
          <h1 style="color: blue; font-size: 24px;">Welcome To DreamBook</h1>

    <h2>Dream Dictionary, Dream analysis & Dream Interpretation Platform</h2>

    <h3> እንኳን ወደ ድሪም-ቡክ የህልም መፍቻ ማህበራዊ ድረ-ገጽ በሰላም ተቀላቀሉ!</h3>
    <p>
      <div class="div"> 

ይህ ድረ-ገፅ የተፈጠረዉ ጥልቅ ሳይንሳዊ ጥናት ከተደረጋ በኋላ ነዉ፡፡ በዚህ አጋጣሚ ጥናቱን እንዲካሄድ ድሬዳዋ ዩንቨርስቲ ላደረገዉ አስተዋፅኦ ከልብ የመነጨ ምስጋና ይገባዋል፡፡ 
ጥናቱ የተካሄደዉ ኢትዮጵያ ላይ በተለይም ምስራቅ ኢትዮጵያ ሲሆን፣ በጥናቱ ወቅት የኢትዮጵያ ህዘብ ህልም በእለት ከዕለት ኑሯቸዉ ዉስት ትልቅ ተፅኖ እንዳለዉ መረዳት ተችሏል፡፡ 
በጥናቱ ተሳታፊ የነበሩ ሰዎች እንዳስረዱት በህልማቸዉ አማካኝነት ወደፊት ሚሆነዉን ብቻ ሳይሆን ለታመሙት በሽታ መድሃኒት በህልማቸዉ አይተዉ እንደዳኑ  ልምዳቸዉን አጋርተዉናል፡፡ 
ነገር ግን ሁሉም ህልም አዉነት እንዳልሆነና ሁሉም ሰዉ ደግሞ አዉነተኛ ህልም ሊያይ እንደማይችል አስገንዝበዉናል፡፡ ስለሆነም ሰዎች ያዩትን ህልም እዉነተ ነዉ ወይስ ቅዠት የሚለዉን ለመገመት የሚያስችል አመላካች የሆኑ ሃገር በቀል እዉቀት እንዳሏቸዉ ተረድተናል፡፡  
እንደ አጠቃላይ የጥናቱን ዉጤት ከግምት ዉስጥ በማስገባት የሚከተሉትን አገልግሎት ያለገደብ ለዓለም ህዝብ በዚህ ድረ-ገፅ ማቅረባችንን በታላቅ ደስታ እናበስራለን፡፡

<ol style="1">
      <li>የህልም መፍቻ ዲክሽነሪ(የሚየዉቁትን ህልም መጨመርና ያዩትን ህልም ትርጉም ማግኘት) ይችላሉ፡፡
      <li>ህልሞችን መለጠፍና የተለጠፉትን ህልሞች መተርጎም እና አስተያይት መስጠት ይቻላል
      <li>ያዩትነ ህልም እዉነተኝነት መገመት ይችላሉ፡፡
      <li>ህልምን ማስተርጎም 
</ol>    
    </p>

    <p style="color:#0d1edf; margin-top:10px; font-size:12px;">
      Explore dream meanings, search the dream dictionary, and share your dreams with the DreamBook community.
    </p>

    <div style="margin-top:30px;">
      <a href="/register" class="btn">Create Account</a>
      <a href="/login" class="btn" style="background:#4f76df;">Login</a>
    </div>
  </main>
 
</body>
 <%- include("includes/footer") %>
</html>


