<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/style.css"> 

<%- include('includes/head') %>

<body>
 <%- include('includes/header') %>

<main>

    <form class="auth-form" action="/register" method="POST">
        <% if (errors && errors.length) { %>
            <% errors.forEach(function(error) { %>
                <p class="notice"><%= error %></p>
            <% }) %>
        <% } %>
        

        <fieldset class="auth-form">
            <legend>Create an account</legend>
            <input type="text" id="username" name="username" autocomplete="off">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" autocomplete="off">
            <label email="email">email</label>
            <input type="email" id="email" name="email" autocomplete="off"
            <input name="phone" placeholder="Phone number (optional)" />

            <br>
            <button class="auth-form input" type="submit">Sign up</button>
        </fieldset>
    </form>
</main>

</body>
 <%- include('includes/footer') %>

</html>

