<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/style.css"> 

<%- include('includes/head') %>

<body>
 <%- include('includes/header') %>

<main>

    <form class="auth-form" action="/register" method="POST">
        <% if (errors && errors.length) { %>
            <% errors.forEach(function(error) { %>
                <p class="notice"><%= error %></p>
            <% }) %>
        <% } %>

        <fieldset class="login-form" > 
            <br>
            <legend>Create an account</legend>
           
            <label for="username">Username</label>
            <input class="input" type="text" id="username" name="username" autocomplete="off" required>

            <label for="password">Password</label>
            <input class="input" type="password" id="password" name="password" autocomplete="off" required>

            <label for="email">Email</label>
            <input class="input" type="email" id="email" name="email" placeholder="Enter your email" required />

            <br>
            <button class="btn" type="submit">Sign up</button>
        </fieldset>
    </form>
</main>

</body>
 <%- include('includes/footer') %>
</html>
